table{
    margin: auto;
    width: 160vh;
}
h1{
    margin:8vh;
}
button{
    margin-left: 32vh;
    margin-top: 4vh;
}
.col5 button{
    margin: 0px 0px 0px  30%;
}
.grafica{
    margin: auto;
    margin-top: 4vh;
    width:60%;
    height: 40vh;
}
