<cabecera></cabecera>
<h1>Tus gastos por contrato 📄</h1>
<div class="serch">
  <input [(ngModel)]="contrato.alias" (keydown.enter)="buscar()" type="text"
    placeholder="Ingrese el nombre del contrato" aria-label="Search">
  <button type="button" (click)="buscar()" class="btn btn-primary">Buscar 🔎</button>
</div>
<div *ngIf="nombreescroto.length==0" id="vacio">
  <h1 id="ojito">👁️‍🗨️</h1>
  <h2>Aquí puede buscar un contrato y ver cómo se comportan sus gastos</h2>
</div>
<h2 *ngIf="bv">No se encontro nada👁️‍🗨️</h2>
<div *ngIf="nombreescroto.length>0 && !bv" id="div1">
  <h2>Los gastos de {{nombreescroto}}</h2>
  <table class="table" class="table table-bordered border-dark">
    <thead class="table-dark">
      <tr>
        <th scope="col">concepto</th>
        <th scope="col">unidad</th>
        <th scope="col">cantidad</th>
        <th scope="col">importe</th>
        <th scope="col">proveedor</th>
        <th scope="col">fecha</th>
        <th scope="col">observaciones</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let g of gastos">
        <td>{{g.concepto}}</td>
        <td>{{g.unidad}}</td>
        <td>{{g.cantidad}}</td>
        <td>{{g.importe}}</td>
        <td>{{g.proveedor}}</td>
        <td>{{g.fecha}}</td>
        <td>{{g.observaciones}}</td>
        <td class="col5"><button (click)="modificar(g.id)" type="button" class="btn btn-warning">Editar</button></td>
        <td class="col5"><button (click)="eliminar(g.id)" type="button" class="btn btn-danger">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="nombreescroto.length>0 && !bv" id="anoma">
  <h3>Las anomalias de {{nombreescroto}} son : </h3>
  <td class="col5"><button (click)="Anomalias()" type="button" class="btn btn-warning">anomalias</button></td>
  <p id="values"></p>
</div>
<h2 id="subt" *ngIf="nombreescroto.length>0 && !bv">Así se ven los gastos de este contrato</h2>
<div class="grafica">
  <div class="chart-container">
    <canvas id="MyChart">{{ chart }}</canvas>
  </div>
</div>